@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
      /* width: 360px; */
      padding: 8% 0 0;
      /* margin: auto; */
      background-image: url(../images/background.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: auto;
}

.form {
  position: relative;

  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #9d1e00;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #8a1a01;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #F0102E;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;

  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #DBDBEA; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #DBDBEA, #D4D4E2);
  background: -moz-linear-gradient(right, #DBDBEA, #D4D4E2);
  background: -o-linear-gradient(right, #DBDBEA, #D4D4E2);
  background: linear-gradient(to left, #DBDBEA, #D4D4E2);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  margin: 0px;     
}

.logo_login {
  width: 70%;
  margin-bottom: 30px;
}

.footer{
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #333;
}