html {}
body {
    position: relative;
    width: 18cm;
    height: 29.7cm;
    margin: 10mm 15mm 10mm 10mm;
    color: #001028;
    background: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
tr,th,td {border: 1px solid #d6d6d6;}
table {border-collapse: collapse;font-size: 12px;}
.contenedor
{
    position:relative;
    width: 95%;
    height:500px;
}
.center {text-align: center;}
.titulo{background: #d6d6d6}
.tamano_width_101 {width: 101%;}
.tamano_width_100 {width: 100%;}
.tamano_width_99 {width: 99%;}
.tamano_width_96 {width: 96%;}
.tamano_width_95 {width: 95%;}
.tamano_width_94 {width: 94%;}
.tamano_width_91 {width: 91%;}
.tamano_width_88 {width: 88%;}
.tamano_width_50 {width: 50px;}
.tamano_width_49 {width: 49px;}
.tamano_width_48 {width: 48px;}
.tamano_height_20 {height: 20px;}
.bold {font-weight:bold;}
.font-size {font-size: 10px!important;}
.img_logo {height: auto; width: 200px;}
.img_firm {height: auto; width: 105px;}
.logo {
    position: fixed;
    top: 10px;
    float: left;
    width: 20px;
    height: 20px;
}
.cabecera {
    position: fixed;
    float: right;
    top: 10px;
    height: 80px;
    width: 430px;
}
.p_centrado {
    text-align: center;
    margin-top: 30px;
    height: 20px;
    width: 318px;
}
.p_left_code {
    position: fixed;
    text-align: center;
    float: right;
    top: 10px;
    height: 20px;
    width: 150px;
}
.p_left_revision {
    position: fixed;
    text-align: center;
    float: right;
    top: 20px;
    height: 20px;
    width: 150px;
}
.p_left_date {
    position: fixed;
    text-align: center;
    float: right;
    top: 45px;
    height: 20px;
    width: 150px;
    font-size: 12px;
}
.asunto {padding: 0.3px 0.3px 0.3px 0.3px;margin-top: 90px;}
.participantes {padding: 0.5px 0.5px 0.5px 0.5px;margin-bottom: 15px;}
.comentarios {padding: 0.5px 0.5px 0.5px 0.5px;margin-bottom: 15px;}
.observaciones td {height: 150px}
